body {
    background-color: hotpink;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: auto;
    height: auto;
    margin-top: 50px;
}

.grid-item {
    padding: 0px;
    text-align: center;
    width: 100px;
    height: 60px;
}

img {
    width: 500px;
    height: 350px;
}
